@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body,h1,h2,h4,h5{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

#topbar{
    box-shadow: 0px 2px 4px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /*fixed nav*/
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    background-color: white;
    width: 100%;
    padding: 20px 28px; 
}

#topbar img {
    width: 40px;
}
#topbar nav a{
    margin-right: 24px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
}
#btn-buy{
    font-weight: 600;
    border: 0;
    color: white;
    background-color: #AAD236;
    padding: 12px 34px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
}

/*landing section */
.landing-section{
    width: 100%;
    height: 100vh;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-position: left;
    background-size: cover;
}
.landing-section div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-section div h1{
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;   
}
.landing-section div p{
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    padding-top: 32px;
}

/*
vegan-store*/

.vegan-store-heading
{
    text-align: center;
    padding-top: 5%;
}
.vegan-store div article{
    padding-top: 100px;
}
.vegan-store div article i{
    color: white;
}
.vegan-store div p{
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

.vegan-store-feature{
    display: flex;
    align-items: center;
}
.vegan-store-heading h2{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
.vegan-store-feature article{
    width: 25%;
    text-align: center;
    padding: 0 24px;
}
.vegan-store-para{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}

.border-icon i{
    font-size: 60px;
}

.border-icon{
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
}

/* */
.step-section-wrapper{
    display: flex;
    width: 100%;
    height: 80vh;
    text-align: center;
    color: white;
    
}
.step-section-wrapper article{
    padding: 112px 48px;
    box-sizing: border-box;
}
.step1{
    width: 25%;
    background-color: #5ACDA6;
}
.step1 i{
    font-size: 96px;
    transition: all 0.3s;
}
.step2
{
    width: 25%;
    background-color: #91AC41;
}
.step2 i{
    font-size: 96px;
}
.step3{
    width: 25%;
    background-color: #E4B476;
}
.step3 i{
    font-size: 96px;
    
}
.step4{
    width: 25%;
    background-color: #F69DAD;
}
.step4 i{
    font-size: 96px;
    
}
.step-section-wrapper article h3{
    font-weight: 600;
    font-size: 24px;
}
.step-section-wrapper article p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 0;
}


/*  card-section */

.card-heading-text .form-heading{
    text-align: center;
}
.card-heading-text h2{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.para{
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
    text-align: center;

}

.card-section .card-wrapper article{
    background-color: #F5F6FB;
}
.card-wrapper{
    padding: 50px 100px ;
    display: flex;
}
.card-wrapper article{
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 2px #ccc;
}

.card-wrapper article img{
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;


}


/*vegan secton */
.vegan-store{
    background-color: #F7EEE2;
    height: 110vh;
}


/*  follow up section .. */
.follow-up-section{
    display: flex;
    height: 10vh;
    
}
.img-follow {
    width: 70%;
}
.follow-form{
    width: 30%;
}


/*subscriber form section start */

.subscriber-form-section{
    width: 100%;
    height: 100vh;
    display: flex; 
}
.left-section{
    background-image: url('https://mobirise.com/extensions/organicamp/assets/images/19.jpg');
    width: 70%;
}
.right-section{
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
    width: 30%;
    background-position: left;
    background-size: cover; 
}

.right-section h3{
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}
.right-section p{
    text-align: center;
    color: #8b8b99;
    font-size: 16px;    
    line-height: 1.6;
}
.subscribe-btn{
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    outline: none;
    border: 0;
}
#subscribe-email{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    text-align: center;

}

/*subscriber form section end */

/*follow section */
.follower-counter{
    height: 30vh;
    background-color: #F6FCFA;
    color:black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.follower-counter  div h3{
    font-size: 44px;
    font-weight: 600;
    
}
.follower-counter div p{
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;

}
.follower-counter div {
    flex-direction: row;
    align-items: center;
}

/*vimeo video */
.vimeo-video-section div h3{
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}

/* .vimeo-video-section div iframe{
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
    display: inline-block;
    margin: 0 auto;
} */

#divider{
    background-color: #F67560;
    height: 1px;
    width: 10%;
    margin: 0 auto;
}

.video-frame{
    width: 25%;
    margin: 0 auto;
}


/*contact and addess section */

.contact-form-section{
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 100px 0;
}
}
.contact-form-section div{
    width: 50%;
}
.contact-form-section div ol li{
    list-style-type: none;
} 
.input-field{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: none;
}

.form-heading{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}


/*footer*/
.footer-content{
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
    font-family: 'Poppins', sans-serif;
}



